.search-params {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

.search-params > label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--color-text);
  font-size: 20px;
  font-weight: bolder;
}

.search-params input:focus,
.search-params input:hover,
.search-params select:hover,
.search-params button:hover {
  cursor: pointer;
  background-color: var(--color-hover-background);
}

.search-params input,
.search-params select,
.search-params button,
.search-params option {
  cursor: pointer;
  height: 30px;
  width: 200px;
  border-radius: 10px;
}
.search-params input {
  width: 230px;
}
.search-params > button {
  text-align: center;
  color: var(--color-text);
  font-size: 25px;
  font-weight: bolder;
  padding: 10px;
  height: 60px;
  background-color: var(--color-background);
}
