:root {
  --color-text: #12b0c9;
  --color-background: white;
  --color-hover-background: #faeff0;
}
* {
  box-sizing: border-box;
}

body {
  background-image: url("./images/backgorund.jpg");
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.App {
  background: ".";
  font-family: sans-serif;
}
